/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

div.bamser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.bamser div.bamse img {
    width: 200px;
}